@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Qube Genix';
  src: url('/fonts/qube-genix-font/Qubegenix-JpK8m.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Netron';
  src: url('/fonts/netron/Netron\ .otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  background: var(--background);
  color: var(--foreground);
}

.font-primary {
  font-family: 'Qube Genix' ;
}

.font-secondary {
  font-family: 'Netron' ;
}

.bg-mask {
  -webkit-mask-image: url('/HeroBg.svg');
  mask-image: url('/HeroBg.svg');
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}