# =========================
# Python
# =========================

# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/


# Python packaging
build/
dist/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/
.pyre/
.pytype/

# Linting
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/

# Environment variables
.env
.python-version